streamlit==1.16.0
pandas==1.5.3
numpy==1.23.5
scipy==1.10.1
matplotlib==3.6.3
# altair<5
altair==4.2.0  # specify Altair version 4.x for compatibility
scikit-learn==1.0.2  # compatible with Python 3.10.17
seaborn==0.11.2
plotly==5.13.1

# # interactive plots
# streamlit>=1.32.0
# plotly>=5.18.0
# pandas>=1.5.0

# # Distributional Testing
# numpy>=1.21
# scipy>=1.7
# matplotlib>=3.4
pyDOE3